a {
  text-decoration: none;
}

.Weather {
  border: 1px solid #dadde1;
  border-radius: 4px;
  color: rgb(135, 135, 135);
  margin: 30px auto;
  padding: 16px;
}

.Weather canvas {
  margin: 0 auto;
}

.Weather form {
  margin-bottom: 20px;
}

.WeatherInfo-city {
  font-size: 16px;
  line-height: 20px;
  text-align: right;
}

.WeatherInfo-city h1 {
  color: #202124;
  font-size: 22px;
  line-height: 26px;
  padding-top: 10px;
  margin: 0 auto;
}

.Weather .temp {
  color: rgb(33, 33, 33);
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 6px;
  vertical-align: top;
}

.WeatherIcon-day {
  display: inline-block;
  padding: 5px 10px 5px 0px;
  vertical-align: middle;
}

.WeatherInfo-details {
  font-size: 12px;
  padding: 10px 10px 10px 1px;
}

.WeatherTemperature {
  display: inline-block;
  vertical-align: middle;
}