.Weather {
  border: 1px solid #dadde1;
  border-radius: 4px;
  color: rgb(135, 135, 135);
  margin: 30px auto;
  padding: 16px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  color: #202124;
  font-size: 22px;
  line-height: 26px;
  margin: 20px 0 0 0;
}

.WeatherIcon {
  display: inline-block;
  height: 64px;
  margin-right: 10px;
  width: 64px;
  vertical-align: center;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.Weather ul {
  align-items: left;
}

.Weather .temp {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400px;
  line-height: 64px;
  vertical-align: bottom;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-weight: 400;
  vertical-align: top;
}